<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
	<%= link_to '#', class: 'pull-left' do %>
		<%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %>
	<% end %>
	<div class="media-body">
		<h4 class="media-heading">
			<%= comment.body %>
			<small>
				submitted <%= time_ago_in_words(comment.created_at) %> by
				<%= comment.user.name %>
				<% if policy(comment).destroy? %>
					| <%= link_to "Delete", [@post, comment], method: :delete %>
				<% end %>	
			</small>
		</h4>
	</div>
<% end %>